<button class="btn btn-success" routerLink="create">Create</button>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Role</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users; index as i">
    <th scope="row">{{ i + 1}}</th>
    <td>{{ user.name }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.role.name }}</td>
    <td>
      <button class="btn btn-danger" (click)="delete(user.id)">Delete</button></td>
  </tr>

  </tbody>
</table>

